/nbproject/private/
/po/Makefile.in.in
/config.guess
/configure
/intltool-merge.in
/config.log
/config.sub
/install-sh
/Makefile.in
/autom4te.cache/output.0
/autom4te.cache/output.1
/src/Makefile.in
/src/config.h
/src/teochat
/po/Makefile
/libtool
/autom4te.cache/traces.0
/po/POTFILES
/src/.libs/lt-teochat
/depcomp
/missing
/src/config.h.in
/intltool-update.in
/src/stamp-h1
/config.status
/po/Makefile.in
/autom4te.cache/traces.1
/src/Makefile
/compile
/autom4te.cache/requests
/ltmain.sh
/Makefile
/intltool-extract.in
/po/stamp-it
/aclocal.m4
/configure.scan
/autoscan.log